@model BoongalooCompany.IdentityServer.Models.CreateUserAccountModel

@{
    ViewBag.Title = "Create Account";
    var signInId = this.Request.QueryString.Get("signin");
    var loginScreenUrl = string.Format("/identity/login?signin={0}", signInId);
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

<h3 style="color: whitesmoke; text-align: center; padding-bottom: 25px;">Sign up</h3>

<div ng-app="myApp" ng-controller="userRegistrationController">
    <form name="registrationForm" ng-submit="submit(registrationForm.$valid)">
        <fieldset style="margin: 0 auto; width:80%;">
            <div class="form-group">
                <input required class="form-control" name="username" type="text" ng-model="model.username" placeholder="Username"><br>
            </div>

            <div class="form-group">
                <input required class="form-control" name="password" type="password" ng-model="model.password" ng-minlength="6" placeholder="Password" password-verify="{{model.confirmationPassword}}"><br>
                <div style="font-size:10px; color: whitesmoke;" class="text-center">(Minimum 6 digits)</div>
            </div>

            <div class="form-group">
                <input required class="form-control" name="confirmPassword" type="password" ng-model="model.confirmationPassword" ng-minlength="6" placeholder="Confirm Password" password-verify="{{model.password}}"><br>
            </div>

            <label style="color: whitesmoke">Verify me by:</label><span class="red-text">*</span>
            <label style="color:whitesmoke">
                <input type="radio" ng-model="model.ConfirmationType" ng-value="0" ng-checked="true">Email
            </label>

            <label style="color:whitesmoke">
                <input type="radio" value="Sms" ng-disabled="true">Sms<span style="font-size:10px; color: whitesmoke;">(Coming soon)</span>
            </label><br />

            <div class="form-group">
                <input type="email" required class="form-control" name="email" ng-model="model.email" placeholder="Email"><br>
            </div>

            <div class="form-group" style="text-align: center">
                <a href="@loginScreenUrl" class="btn btn-primary">Back</a>
                <input class="btn btn-primary" type="submit" id="submit" value="Submit" ng-disabled="!registrationForm.$valid" />
            </div>
        </fieldset>          
    </form>
</div>

<script>
    var app = angular.module("myApp", []);
    app.controller("userRegistrationController", function ($scope) {
        $scope.model = {};

        $scope.submit = function (formValid) {
            if (formValid) {
                $.ajax({
                    method: 'POST',
                    url: '/identity/CreateUserAccount/Index',
                    data: { signin: "@signInId", model: $scope.model} 
                }).success(function (data, status, headers, config) {
                    window.location.href = data;
                }).error(function (data, status, headers, config) {

                });
            }
            else {
                
            }
        };
    }).directive('passwordVerify', passwordVerify);

    function passwordVerify() {
        return {
            restrict: 'A', // only activate on element attribute
            require: '?ngModel', // get a hold of NgModelController
            link: function (scope, elem, attrs, ngModel) {
                if (!ngModel) return; // do nothing if no ng-model

                // watch own value and re-validate on change
                scope.$watch(attrs.ngModel, function () {
                    validate();
                });

                // observe the other value and re-validate on change
                attrs.$observe('passwordVerify', function (val) {
                    validate();
                });

                var validate = function () {
                    // values
                    var val1 = ngModel.$viewValue;
                    var val2 = attrs.passwordVerify;

                    // set validity
                    ngModel.$setValidity('passwordVerify', val1 === val2);
                };
            }
        }
    }
</script>
