@using System.Security.Claims
@model IEnumerable<System.Security.Claims.Claim>

@{
    ViewBag.Title = "Welcome!";
}

<h2>Welcome, @Model.FirstOrDefault(claim => claim.Type == IdentityModel.JwtClaimTypes.GivenName).Value!</h2>
<h4>All we know about you is:</h4><br>

<table>
    @foreach (var claim in Model)
    {
        <tr>
            <td><b>@claim.Type</b></td><td><div id="@claim.Type">@claim.Value</div></td>
        </tr>
    }
</table>

<br><br>
<h2>Create new user</h2><br>
@using (Ajax.BeginForm("CreateNewUser", "Home", null, new AjaxOptions
{
    HttpMethod = "POST",
}, new { id = "create-new-user" })) // set new Id name for  Form
{
    @Html.AntiForgeryToken()

    <div id="name-group" class="form-group">
        <label for="IdsrvUniqueId">IdsrvUniqueId</label>
        <input type="text" class="form-control" name="IdsrvUniqueId">
    </div>

    <div id="name-group" class="form-group">
        <label for="FirstName">FirstName</label>
        <input type="text" class="form-control" name="FirstName">
    </div>

    <div id="name-group" class="form-group">
        <label for="LastName">LastName</label>
        <input type="text" class="form-control" name="LastName">
    </div>

    <div id="name-group" class="form-group">
        <label for="Email">Email</label>
        <input type="text" class="form-control" name="Email">
    </div>
    <button type="submit" class="btn btn-success">Submit <span class="fa fa-arrow-right"></span></button>
}
<hr>

<h2>Create new boonga(No existing areas around)</h2><br>

<form id="getGroupsAroundCoords">
    <div id="name-group" class="form-group">
        <label for="lat">Latitude</label>
        <input type="number" step="0.0000001" class="form-control" name="lat">
    </div>

    <div id="name-group" class="form-group">
        <label for="lon">Longitude</label>
        <input type="number" step="0.0000001" class="form-control" name="lon">
    </div>
    <button type="submit" class="btn btn-success">Submit <span class="fa fa-arrow-right"></span></button>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $('#getGroupsAroundCoords').submit(function (event) {
            var lat = $("#getGroupsAroundCoords input[name='lat']").val();
            var lon = $("#getGroupsAroundCoords input[name='lon']").val();

            jQuery.support.cors = true;

            $.ajax({
                type: "POST",
                url: 'https://localhost:44315/api/v1/groups/' + lat + '/' + lon + '/',
                success: function (data, status, xhr) {
                    alert("Success mother fucker!: " + xhr.status + " : " + xhr.statusText + ":" + JSON.stringify(data));
                },
                error: function (jqXHR, exception) {
                    alert("Error: " + JSON.stringify(jqXHR) + " : " + JSON.stringify(exception));
                }
            });

            event.preventDefault();
        });
    });
</script>