@using System.Security.Claims
@model IEnumerable<System.Security.Claims.Claim>

@{
    ViewBag.Title = "Welcome!";
}

<h2>Welcome, @Model.FirstOrDefault(claim => claim.Type == IdentityModel.JwtClaimTypes.GivenName).Value!</h2>
<h4>All we know about you is:</h4><br>

<table>
    @foreach (var claim in Model)
    {
        <tr>
            <td><b>@claim.Type</b></td><td><div id="@claim.Type">@claim.Value</div></td>
        </tr>
    }
</table>

<br><br>
<h2>Create new user</h2><br>
@using (Ajax.BeginForm("CreateNewUser", "Home", null, new AjaxOptions
{
    HttpMethod = "POST",
}, new { id = "create-new-user" })) // set new Id name for  Form
{
    @Html.AntiForgeryToken()

    <div id="name-group" class="form-group">
        <label for="IdsrvUniqueId">IdsrvUniqueId</label>
        <input type="text" class="form-control" name="IdsrvUniqueId">
    </div>

    <div id="name-group" class="form-group">
        <label for="FirstName">FirstName</label>
        <input type="text" class="form-control" name="FirstName">
    </div>

    <div id="name-group" class="form-group">
        <label for="LastName">LastName</label>
        <input type="text" class="form-control" name="LastName">
    </div>

    <div id="name-group" class="form-group">
        <label for="Email">Email</label>
        <input type="text" class="form-control" name="Email">
    </div>
    <button type="submit" class="btn btn-success">Submit <span class="fa fa-arrow-right"></span></button>
}
<hr>

<h2>Create new boonga</h2><br>

@using (Ajax.BeginForm("CreateNewGroup", "Home", null, new AjaxOptions
{
    HttpMethod = "POST",
}, new { id = "create-new-group" })) // set new Id name for  Form
{
    @Html.AntiForgeryToken()

    <div id="name-group" class="form-group">
        <input id="create-as-new-area-chb" type="radio" name="NewAreaGroup" value="true"> Create the group as a new area
        <input id="add-to-existing-area-chb" type="radio" name="NewAreaGroup" value="false"> Add the group to already existing areas<br>
    </div>

    <div id="name-group" class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" name="Name">
    </div>

    <div id="name-group" class="form-group">
        <span>Tags:</span><br>

        <select multiple name="Tags" size="4">
            <option value="Help">Help</option>
            <option value="Sport">Sport</option>
            <option value="Fun">Fun</option>
            <option value="Dating">Dating</option>
        </select>
    </div><br>

    <div id="name-group" class="form-group">
        <div id="new-area-specific">
            <div id="name-group" class="form-group">
                <label for="Latitutude">Latitude</label>
                <input type="number" step="0.0000001" class="form-control" name="Latitutude">
            </div>
            <div id="name-group" class="form-group">
                <label for="Longtitude">Longitude</label>
                <input type="number" step="0.0000001" class="form-control" name="Longtitude">
            </div>

            <label>Radius</label>
            <select name="Radius">
                <option value="50">50m.(Eye-sight reachable area)</option>
                <option value="150">150m.(Stadium, concert hall, small-sized park, Mall, university faculty)</option>
                <option value="300">300m.(Small neighbourhood, middle-to-big hospital)</option>
                <option value="500">500m.(Middle-sized neighbourhood, small village)</option>
            </select>
            <br>
        </div>
    </div>

    <div id="name-group" class="form-group">
        <div id="existing-area-specific">
            <div id="name-group" class="form-group">
                <span>Area Ids:</span><input id="fetch-areas" type="button" value="Fetch all areas"/><br>

                <select id="area-ids" multiple name="AreaIds" size="4">
                </select>
            </div>
            <br>
        </div>
    </div>

    <button type="submit" class="btn btn-success">Submit <span class="fa fa-arrow-right"></span></button>
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#fetch-areas").on('click', function() {
            var lat = $("#name-group input[name='Latitutude']").val();
            var lon = $("#name-group input[name='Longtitude']").val();

            $.ajax({
                type: "GET",
                dataType: 'json',
                url: 'https://localhost:44318/Home/GetAllAreaIds?lat=' + lat + '&lon=' + lon,
                success: function (data, status, xhr) {
                    if (data.length < 1) {
                        $('#area-ids').find('option').remove().end();
                        return;
                    }

                    $.each(data, function (i, item) {
                        var areaId = JSON.stringify(data[i]['Id']);
                        $('#area-ids').append($("<option></option>")
                            .attr("value", areaId)
                            .text(areaId));
                    });
                },
                error: function (jqXHR, exception) {
                    alert("Error: " + JSON.stringify(jqXHR) + " : " + JSON.stringify(exception));
                }
            });
        });

        $('#getGroupsAroundCoords').submit(function (event) {
            var lat = $("#getGroupsAroundCoords input[name='lat']").val();
            var lon = $("#getGroupsAroundCoords input[name='lon']").val();
            jQuery.support.cors = true;

            $.ajax({
                type: "POST",
                url: 'https://localhost:44315/api/v1/groups/' + lat + '/' + lon + '/',
                success: function (data, status, xhr) {
                    alert("Success mother fucker!: " + xhr.status + " : " + xhr.statusText + ":" + JSON.stringify(data));
                },
                error: function (jqXHR, exception) {
                    alert("Error: " + JSON.stringify(jqXHR) + " : " + JSON.stringify(exception));
                }
            });

            event.preventDefault();
        });

        $("#create-as-new-area-chb")
            .on("change",
                function() {
                    $("#existing-area-specific").addClass('hidden');
                    $("#new-area-specific").removeClass('hidden');
                });

        $("#add-to-existing-area-chb")
            .on("change",
                function () {
                    $("#existing-area-specific").removeClass('hidden');
                    $("#new-area-specific").addClass('hidden');
                });
    });
</script>